@model PetClinic.Models.Table_Promote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Promote_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promote_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promote_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promote_Pic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promote_Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promote_Des)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Promote_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
