@model PetClinic.Models.AdminLogin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdminLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table_Typeuser.TypeuserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table_Typeuser.TypeuserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
